<!DOCTYPE html>
<html>
<head>
  <title>ReactCheese</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

<%= react_component('Nav', current_user: current_user) %>
<div class="container">
  <% if signed_in? %>
  <h1> hello <%= current_user.user_name %>
  <% end %>
<%= yield %>
</div>

</body>
</html>
